  html,body,#app {
  margin: 0;
  padding: 0;
  height: 100%;
  }

  .common-layout {
    height: 100vh;
  }

  el-aside {
    width: 240px;
    flex-shrink: 0;
  }

  .common-container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .common-header {
    height: 75px;
  }

  .common-main {
    flex: 1;
    min-width: 0;
    background-color: #F5F7F9;
    padding: 15px 100px 25px 100px;
    box-sizing: border-box;
    overflow-y: auto;
  }